* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background-image: linear-gradient(180deg, #00ADB1, #f9f871);
    min-height: 100vh;
}

main {
    margin: 1em auto;
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-gap: 15px;
}

img {
   max-width: 100%;
    height: auto;
}

header {
    display: grid;
    grid-gap: 15px;
    grid-template-areas:
        "h"
        "ct1"
        "ct2";
}

.hero {
    grid-area: h;
    min-height: 400px;
    background: #fff url(../images/coral.jpg) no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta {
    background-color: #fff;
    padding: 25px;
}

.cta1 {
    grid-area: ct1;
}

.cta2 {
    grid-area: ct2;
}

.featured {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.fItem {
    background-color: rgba(255,255,255,.7);
    padding: 15px;
    border: 1px solid #fff;
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,.5);
}

.gallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery h1 {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 2em;
}

.gallery figcaption {
    font-size: .8em;
    text-align: center;
    font-style: italic;
}

footer {
    border-top: 1px solid #00ADB1;
    text-align: center;
    font-size: .9em;
    color: #00ADB1;
    padding-top: .5em;
    margin-top: 2em;
}

@media screen and (min-width: 710px) {
    .featured {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media screen and (min-width: 1024px) {
    header {
/*
        grid-template-areas: 
            "h h ct1"
            "h h ct2";
        grid-template-columns: repeat(3, 1fr);
*/
/*        grid-template-columns: 1fr 1fr 1fr;*/
        grid-template-areas: 
            "h ct1"
            "h ct2";
        grid-template-columns: 2fr 1fr;
    }
    
    .featured {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
gtc 



